

.logo
    +s(logo)
    float: left

.header
    &::after
        content: ""
        background: url(../img/image-bg.png)
        opacity: .05
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        z-index: -1
    color: #fff
    position: relative
    &__in
        @extend %in
        padding-top: 30px
    &__title
        @extend %title

.media
    background: #fff
    &__in
        @extend %in
        padding: 150px 0
        margin-bottom: 50px
    &__title
        @extend %title
        color: #434e5d
        font-weight: 600
        margin-bottom: 20px
        margin-top: 10px
    &__desc
        margin-bottom: 15px
    &__text
        @extend %text
        color: #4d5766
        line-height: 1.6em
        padding-right: 100px
        margin-bottom: 20px
    &__video
        // width: 100%
        height: 350px
        // padding-right: 30px
.review
    background: #edebeb
    &__in
        @extend %in
        padding: 30px 0 100px
        text-align: center
        font-family: 'Josefin Slab', serif
        color: #736f6f
    .icon._quote
        +s(quote)
        display: inline-block
    blockquote
        font-size: 32px
        padding: 20px 200px
        quotes: "\201C""\201D""\2018""\2019"
        &:before
            content: open-quote
        &:after
            content: close-quote
    &__author
        margin: 30px auto 0
        width: 400px
    .author__img
        border-radius: 50%
        height: 115px
        width: 115px
        overflow: hidden
        float: left
        margin-right: 50px
    .author__name
        font-size: 32px
        font-weight: inherit
        padding-top: 20px
        text-align: left
    .author__desc
        font-size: 22px
        font-weight: inherit
        text-align: left
.desc
    background: #f1f1f1 
    &__in
        @extend %in   
        color: #736f6f    
        padding: 100px 0 0
    &__content
        padding-right: 100px
        padding-top: 20px
    &__img
        text-align: right
        padding-left: 100px
    &__title
        @extend %title
        color: #434d5d
        margin-bottom: 15px
        &._copy
            margin-bottom: 40px
    &__text
        @extend %text
        margin-bottom: 10px
        line-height: 1.6
    &__list
        margin: 50px 0 60px
        li
            margin-bottom: 15px
            list-style-image: url(../img/list-mark.png)
            list-style-position: inside
            font-size: 18px
    .line
        margin-top: 50px
.clients
    background: #fff
    &__in
        @extend %in
        padding: 50px 0
        text-align: center
    &__title
        @extend %title
        color: #434d5d
        margin-bottom: 20px
    &__desc
        @extend %text
        color: #606d7f
    .client__list
        margin: 100px auto
        .client
            +sb()
            display: inline-block
            // margin: 0 20px
            height: 35px
            width: 210px
            @each $icon in audiojungle, activeden, envato, graphicriver, themeforest
                &._#{$icon}
                    +sp($icon)
                    &:hover
                        +sp(#{$icon}-hover)   
.price
    background: #f1f1f1
    &__in
        @extend %in
        padding: 100px 0
        text-align: center
    &__title
        @extend %title
        color: #434d5d
        margin-bottom: 10px
    &__desc
        @extend %text
        color: #606d7f
        margin-bottom: 80px
    &__list
        padding: 0 50px
        .price__item
            display: inline-block
            border: 1px solid #a1a1a1
            margin: 0 10px
            padding: 10px 0 20px
            width: 30%
        .item__header
            border-bottom: 1px solid #a1a1a1
            // padding-bottom: 5px
        .item__title
            @extend %title
            color: #5a677a
            margin-bottom: 5px
        .item__desc
            @extend %text
            color: #999
        .item__feauters
            padding-top: 50px
            padding-bottom: 30px
            li
                color: #999
                margin-bottom: 20px
                @extend %text
        .btn._big
            padding-top: 15px
            padding-bottom: 11px
            min-width: 60%
