

$purple: #864f9c

.in
    @extend %in

.logo
    +s(logo)
    float: left

.header
    &::after
        content: ""
        background: url(../img/image-bg.png)
        opacity: .05
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        z-index: -1
    color: #fff
    // height: 500px
    position: relative
    &__in
        @extend %in
        padding-top: 30px