

.logo
    +s(logo)
    float: left

.header
    &::after
        content: ""
        background: url(../img/image-bg.png)
        opacity: .05
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        z-index: -1
    color: #fff
    position: relative
    &__in
        @extend %in
        padding-top: 30px
    &__title
        @extend %title

.media
    background: #fff
    &__in
        @extend %in
        padding: 150px 0
        margin-bottom: 50px
    &__title
        @extend %title
        color: #434e5d
        font-weight: 600
        margin-bottom: 20px
        margin-top: 10px
    &__desc
        margin-bottom: 15px
    &__text
        @extend %text
        color: #4d5766
        line-height: 1.6em
        padding-right: 100px
        margin-bottom: 20px
    &__video
        // width: 100%
        height: 350px
        // padding-right: 30px
.review
    background: #edebeb
    &__in
        @extend %in
        padding: 30px 0 100px
        text-align: center
        font-family: 'Josefin Slab', serif
        color: #736f6f
    .icon._quote
        +s(quote)
        display: inline-block
    blockquote
        font-size: 32px
        padding: 20px 200px
        quotes: "\201C""\201D""\2018""\2019"
        &:before
            content: open-quote
        &:after
            content: close-quote
    &__author
        margin: 30px auto 0
        width: 400px
    .author__img
        border-radius: 50%
        height: 115px
        width: 115px
        overflow: hidden
        float: left
        margin-right: 50px
    .author__name
        font-size: 32px
        font-weight: inherit
        padding-top: 20px
        text-align: left
    .author__desc
        font-size: 22px
        font-weight: inherit
        text-align: left
.desc
    background: #f1f1f1 
    &__in
        @extend %in   
        color: #736f6f    
        padding: 100px 0 0
    &__content
        padding-right: 100px
        padding-top: 20px
    &__img
        text-align: right
        padding-left: 100px
    &__title
        @extend %title
        color: #434d5d
        margin-bottom: 15px
        &._copy
            margin-bottom: 40px
    &__text
        @extend %text
        margin-bottom: 10px
        line-height: 1.6
    &__list
        margin: 50px 0 60px
        li
            margin-bottom: 15px
            list-style-image: url(../img/list-mark.png)
            list-style-position: inside
            font-size: 18px
    .line
        margin-top: 50px
.clients
    background: #fff
    &__in
        @extend %in
        padding: 50px 0
        text-align: center
    &__title
        @extend %title
        color: #434d5d
        margin-bottom: 20px
    &__desc
        @extend %text
        color: #606d7f
    .client__list
        margin: 100px auto
        .client
            +sb()
            display: inline-block
            // margin: 0 20px
            height: 35px
            width: 210px
            @each $icon in audiojungle, activeden, envato, graphicriver, themeforest
                &._#{$icon}
                    +sp($icon)
                    &:hover
                        +sp(#{$icon}-hover)   
.price
    background: #f1f1f1
    &__in
        @extend %in
        padding: 100px 0
        text-align: center
    &__title
        @extend %title
        color: #434d5d
        margin-bottom: 10px
    &__desc
        @extend %text
        color: #606d7f
        margin-bottom: 80px
    &__list
        padding: 0 50px
        .price__item
            display: inline-block
            border: 1px solid #a1a1a1
            margin: 0 10px
            padding: 10px 0 20px
            width: 30%
        .item__header
            border-bottom: 1px solid #a1a1a1
            // padding-bottom: 5px
        .item__title
            @extend %title
            color: #5a677a
            margin-bottom: 5px
        .item__desc
            @extend %text
            color: #999
        .item__feauters
            padding-top: 50px
            padding-bottom: 30px
            li
                color: #999
                margin-bottom: 20px
                @extend %text
        .btn._big
            padding-top: 15px
            padding-bottom: 11px
            min-width: 60%
.works
    background: #fff
    &__in
        @extend %in
        text-align: center
        padding: 50px 0 100px
    &__title
        @extend %title
        color: #434d5d
    &__nav
        border-bottom: 1px solid #b7b7b7 
        margin: 0 50px
        padding-bottom: 30px
        text-align: right
        .control
            +sb()
            +ss(prev)
            margin-left: 20px
            display: inline-block
            &.is-disable
                opacity: .5
                cursor: default    
            &._prev
                +sp(prev-hover)
                &.is-disable
                    +sp(prev)                   
            &._next
                +sp(next-hover)
                &.is-disable
                    +sp(next)

    .work__list
        margin-top: 30px
        li
            img
                width: 100%
                // background: #ff4b59
                height: 100%
                border: 0
            height: 293px
            margin-bottom: 5px
            padding: 0 5px 5px
            position: relative
            &:hover 
                .item__desc
                    display: block
                    border: 1px solid #fff
                img
                    opacity: .22
                background: #ff4b59
    .item__desc
        display: none
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        text-align: center
        margin: 10%
        padding-top: 20px
        color: #fff
    .item__text
        @extend %text
        font-weight: 400
        font-size: 16px
        line-height: 2
    .item__link
        display: inline-block
        background: #fff
        border-radius: 50%
        width: 80px
        height: 80px
        margin-top: 10px
    .icon._link
        display: inline-block
        +s(link)
        margin-top: 23px
.feed
    position: relative
    &::after
        content: ""
        background: url(../img/feed-bg.png)
        opacity: .5
        position: absolute
        top: -1px
        right: 0
        bottom: 0
        left: 0
        z-index: -1 
    height: 600px
    &__in
        @extend %in
        position: relative
        text-align: center
        padding: 100px 0
        color: #fff
        .icon._twitter_big
            margin: 0 auto 30px
            display: block
            +s(twitter-big)
        .logo
            display: inline-block
            float: none
            margin-right: 50px
    &__desc
        display: inline-block
        @extend %text
        font-weight: 400
        vertical-align: bottom
    &__item p
        margin: 50px 0
        font-size: 35px
        font-family: 'Josefin Slab', serif
        quotes: "\201C""\201D""\2018""\2019"
        &:before
            content: open-quote
        &:after
            content: close-quote
    cite
        @extend %text
        font-style: normal
    .control
        position: absolute
        +sb()
        +ss(prev-sm)
        display: inline-block
        top: 60%
        &._next
            +sp(next-sm)
            right: -50px
        &._prev
            +sp(prev-sm)
            left: -50px
.contact
    &__in
        @extend %in
        text-align: center
        padding: 80px 0
    &__title
        @extend %title
        margin-bottom: 30px
    &__desc
        @extend %text
        color: #d9d9d9 
        font-family: 'Josefin Slab', serif
        font-size: 32px
        padding: 0 40px
        margin-bottom: 50px
        quotes: "\201C""\201D""\2018""\2019"
        &:before
            content: open-quote
        &:after
            content: close-quote
    .btn
        font-weight: 700
        min-width: 200px
.footer
    background: #293039
    &__in
        +clr
        @extend %in
        color: #d9d9d9
        padding: 40px 0
    .social__links
        float: left
        li
            display: inline-block
            vertical-align: middle
            &.social__name
                padding-left: 20px
    .copyright
        float: right
        *
            vertical-align: middle
        span
            padding-left: 10px
    .icon
        display: inline-block
        +sb()
        +ss(fb)
        @each $i in fb, tw, bh, db, cp
            &._#{$i}
                +sp($i)