/* Welcome to Compass. In this file you should write your main styles. (or centralize your imports) Import this file using the following HTML or equivalent: <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,800);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

table { border-spacing: 0; border-collapse: collapse; width: 100%; }

*, *:after, *:before { box-sizing: border-box; }

body { font-size: 14px; font-family: "Merriweather Sans", sans-serif; line-height: 1.1; background: #323a45; }

a { text-decoration: none; }

video { width: auto; }

.nav { text-align: right; }
.nav li { display: inline-block; padding: 30px 15px 0; }
.nav li a { text-transform: uppercase; color: #fff; padding: 5px 15px; }
.nav li a:hover { background: #ff4b59; border-radius: 19px; }

._green { color: #29af61; }

._red { color: #ff4b59; }

.btn { padding: 11px 30px 11px; color: white; border-radius: 2px; font-weight: 600; font-size: 14px; }
.btn._red { background: #ff4b59; box-shadow: 0px 2px 0px #e23d4a; }
.btn._red:hover { background: #ff3141; }
.btn._green { background: #1fab5a; box-shadow: 0px 2px 0px #178947; }
.btn._green:hover { background: #1b954f; }

.line { margin: 15px auto; display: block; width: 87px; height: 4px; opacity: 0.15; background-color: #000; }

.header__in, .media__in { width: 1100px; margin: 0 auto; }

.slider .item__text { font-size: 18px; font-weight: 400; margin-bottom: 10px; }

.header__title, .media__title, .slider .item__title { color: #fff; font-size: 30px; font-weight: 400; }

.logo { background: url('../img/sprites-sce65a9d73b.png') 0 -585px; width: 159px; height: 52px; float: left; }

.header { color: #fff; position: relative; }
.header::after { content: ""; background: url(../img/image-bg.png); opacity: 0.05; position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: -1; }
.header__in { padding-top: 30px; }

.media { background: #fff; }
.media__in { padding-top: 150px; }
.media__title { color: #434e5d; font-weight: 600; margin-bottom: 20px; margin-top: 10px; }
.media__desc { margin-bottom: 15px; }

.l .c-1-4, .l .c-1-2 { float: left; }

.l { *zoom: 1; }
.l:after, .l:before { content: " "; display: table; clear: both; }
.l .c-1-4 { width: 25%; }
.l .c-1-2 { width: 50%; }

.slider { padding: 50px 0; position: relative; }
.slider__media { text-align: center; }
.slider .item__title { margin-bottom: 10px; }
.slider .item__body { padding-top: 150px; }
.slider .item__list { margin: 50px 0 60px; }
.slider .item__list li { margin-bottom: 20px; }
.slider .item__list._circle { list-style-image: url(../img/list-circle.png); list-style-position: inside; font-size: 18px; }
.slider .control { position: absolute; border: 2px solid #fff; padding: 10px 20px; border-radius: 2px; top: 50%; }
.slider .control i { display: inline-block; background: url('../img/sprites-sce65a9d73b.png') 0 -850px; width: 18px; height: 27px; }
.slider .control:hover { background: rgba(255, 255, 255, 0.05); }
.slider .control._prev { left: -100px; }
.slider .control._prev i { background-position: 0 -850px; }
.slider .control._next { right: -100px; }
.slider .control._next i { background-position: 0 -730px; }
.slider__nav { position: absolute; left: 43%; bottom: 20px; text-align: center; }
.slider__nav span { height: 15px; width: 15px; border-radius: 50%; background: #fff; display: inline-block; margin: 0 5px; background: #22282f; }
.slider__nav span.is-active { background: #6c7d92; }
